# System
.DS_Store
Thumbs.db

# IDE / edytory
.vscode/
.idea/

# Node / npm (jeśli w przyszłości użyjesz)
node_modules/

# Pliki tymczasowe
*.log
*.tmp

# Jeśli masz inne tymczasowe foldery, np. cache
/cache/
